.caption{
    margin: 10px;
}

/* список товаров */
.itemsList{
    /*position: fixed; */
    float: left;
    width: 15%;
}

.itemsList p {
    margin: 10px;
}

.itemsList a {
    margin: 5px;
    text-decoration: none;
    color: black;
    display: block;
    /*transition: 0.3s;*/
}

.itemsList a:hover, .offcanvas a:focus {
    color: gray;
}

/* карточка товара */
.itemCard {
    height: 100%;
    width: 80%;
    float: left;
    margin-left: 10px;
}

.itemCard p {
    margin: 10px;
}

.itemCardBody{
    margin: 10px;
}